[submodule "tools/TinderBox-Mac"]
	path = tools/TinderBox-Mac
	url = git://github.com/cinder/TinderBox-Mac.git
[submodule "tools/TinderBox-Win"]
	path = tools/TinderBox-Win
	url = git://github.com/cinder/TinderBox-Win.git
[submodule "boost"]
	path = boost
	url = git://github.com/cinder/Cinder-Boost.git
[submodule "blocks/FMOD"]
	path = blocks/FMOD
	url = https://github.com/arielm/FMOD
[submodule "blocks/POCO"]
	path = blocks/POCO
	url = https://github.com/arielm/POCO
[submodule "blocks/OSC"]
	path = blocks/OSC
	url = https://github.com/arielm/OSC
[submodule "blocks/Box2D"]
	path = blocks/Box2D
	url = https://github.com/SlateScience/Box2D
[submodule "blocks/new-chronotext-toolkit"]
	path = blocks/new-chronotext-toolkit
	url = https://github.com/arielm/new-chronotext-toolkit
